@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300;1,400;1,700&family=Roboto:ital@1&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(170, 170, 199);
}

.heading p {
  font-family: 'Popins', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 17px;
  color: #fff;
}

nav {
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2471a3;
  border: 2px solid rgb(113, 141, 167);
  padding: 5px 10px;
  z-index: 10;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
  margin-left: 5px;
}

nav ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}

.time {
  text-align: right;
  padding: 10px 20px;
  font-weight: bolder;
}

.header {
  text-align: center;
  margin: 20px 0;
}

#render-content {
  padding: 10px;
}

#render-books a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(132, 168, 192);
  padding: 2px;
}

#render-content ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 2px 0;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

#contact-form h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

#render-content ul h2 {
  font-size: 17px;
  font-family: 'Popins', sans-serif;
  color: #2874a6;
  font-style: italic;
}

#render-content li a {
  background-color: #2874a6;
}

#contact-form ul {
  margin: 19px 50px;
}

#render-content ul:nth-child(odd) {
  background-color: #bbc5ce;
}

.form-container {
  color: white;
  background: rgb(110, 144, 196);
  padding: 10px;
  margin: 0 10px;
}

#booksForm {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

input {
  padding: 3px 16px;
}

#booksForm button {
  align-self: end;
  padding: 3px 12px;
}

hr {
  width: 70px;
  margin: 20px auto;
  border: 1px solid rgb(29, 22, 22);
}

#contact-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#contact-form p {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 17px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #2471a3;
  border: 2px solid rgb(113, 141, 167);
  padding: 10px 10px;
}

.foooter-p1 {
  font-size: 15px;
  color: #fff;
}

@media only screen and (min-width: 678px) {
  .heading p {
    font-size: 24px;
  }

  nav {
    padding: 10px 50px;
  }

  nav ul li {
    list-style: none;
    margin-left: 20px;
  }

  nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
  }

  .header {
    font-size: 37px;
    text-align: center;
  }

  #render-content {
    padding: 50px 250px;
  }

  #render-content ul {
    padding: 2px 0;
  }

  #contact-form h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  #render-content ul h2 {
    font-size: 24px;
  }

  #render-books a {
    font-size: 12px;
    padding: 10px;
  }

  #render-content li a {
    background-color: #2874a6;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #contact-form ul {
    margin: 19px 50px;
  }

  #contact-form p {
    font-size: 20px;
    font-weight: bold;
    margin: 17px 0;
  }

  .form-container {
    margin: 0 300px;
    padding: 50px 20px;
  }

  footer {
    padding: 10px 50px;
  }

  .foooter-p1 {
    font-size: 20px;
  }
}

.active {
  background-color: rgb(110, 144, 196);
  padding: 10px;
  font-weight: bold;
}

.hide-content {
  display: none;
}
